.mainHeader{
    display: flex;
    background-color: rgba(192, 192, 192, 0.274); /* Black */
    /* position: relative;
     */
     z-index: -1;
    /* margin: auto; */
}
.AMRlogo {
    width: 15%;
    align-self: flex-start;
}